.idea
*.iml
**/bin
bin/*
.vagrant
.GeneratedDockerfile
.gradle
*.swp
*.pem
*.crt
*.csr
_out
exported-artifacts
vendor/**/*_test.go
**/polarion.xml
.coverprofile*
coverage.html
manifests/**/*.tmp
/bazel-*
/ci.bazelrc
.history
*~
.bazeldnf/
user.bazelrc
.vscode/
